.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #4b9bbd;
    grid-area: header;
}

.logo {
    width: 60px;
}