* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


li {
   list-style: none;
}

a {
    text-decoration: none;
    color: white;

}


.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #ccced2;

}

.App {
    margin: 0 auto;
    max-width: 1280px;
    display: grid;
    grid-template-areas:
        "header header"
        "nav content";
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 2px;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #4b9bbd;
    grid-area: header;
}

.nav {
    padding: 10px;
    background-color: #4b9bbd;
    grid-area: nav;

}

.content {
    grid-area: content;
}

.logo {
    width: 60px;
}

.banner {
 width: 100%;
}

.avatar {
    width: 100px;
   border-radius: 50px;
}