* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


li {
   list-style: none;
}

a {
    text-decoration: none;
}


.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #ccced2;

}

.App {
    margin: 0 auto;
    max-width: 1280px;
    display: grid;
    grid-template-areas:
        "header header"
        "nav content";
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 2px;
    font-size: 20px;
}

.wrapper-content {
    grid-area: content;
    background-color: aliceblue;
}